@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");

/*
	Epílogo por TEMPLATED
	templated.co @templatedco
	Lançado gratuitamente sob a licença Creative Commons Attribution 3.0 (templated.co/license)
*/

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0px;
		padding: 0;
		border: 10px; 
		font-size: 10px;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
		height: 100%;
		width: 100%;

	}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
	height: 100%;
	width: 100%;
}

	 /*Estilo animação*/
	 #to-animate {
		max-width: 10em;
		display: inline-block;
		animation: fadeIn 1s ease-in-out;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 1280px) {

		html, body {
			min-width: 520px;
		}

	}

	body {
		background: #e662df;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

html {
    scroll-behavior: smooth;
}

body {
	background-color: #f3bdf3;
	color: #1a1818e8;
}

body, input, select, textarea {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 17pt;
		font-weight: 200;
	line-height: 1.65;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 13pt;
			}

		}

		@media screen and (max-width: 880px) {

			body, input, select, textarea {
				font-size: 10pt;
			}

		}

		@media screen and (max-width: 860px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

	a {
		-moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
		-webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
		-ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
		transition: color 0.2s ease, border-bottom-color 0.2s ease;
		text-decoration: none;
		border-bottom: dotted 1px;
	}

		a:hover {
			border-bottom-color: transparent;
		}

	strong, b {
		font-weight: 400;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		line-height: 1.5;
		margin: 0 0 1em 0;
		text-transform: uppercase;
		letter-spacing: 0.375rem;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 1.5em;
		}

		h2 {
			font-size: 1.25em;
		}

		h3 {
			font-size: 1em;
		}

	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px;
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		border-radius: 4px;
		border: solid 1px;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0 3em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	input, select, textarea {
		color: #181717;
	}

	a {
		color: inherit;
	}

		a:hover {
			color: #EF6480 !important;
		}

	strong, b {
		color: #444444;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #350747;
	}

	blockquote {
		border-left-color: #666666;
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-color: #83286c;
	}

	hr {
		border-bottom-color: #666666;
	}

/* Box */

	.box {
		border-radius: 4px;
		border: solid 1px;
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 1em;
			border-radius: 0;
			padding: 0;
		}

	.box {
		border-color: #666666;
	}

/* Button */
	
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 4px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 500;
		height: 3.5em;
		line-height: 3.5em;
		padding: 0 2em 0 2.375em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		text-transform: uppercase;
		letter-spacing: 0.325em;
		font-size: 0.725em;
	}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5em;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.2em;
			font-weight: 500;
			padding: 0 2.5em 0 2.875em;
			height: 3.75em;
			line-height: 3.75em;
			color: #380744;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			opacity: 0.25;
		}

		@media screen and (max-width: 480px) {

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				padding: 0;
			}

		}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		background-color: transparent;
		box-shadow: inset 0 0 0 2px #480950;
		color: #4a1883 !important;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			color: #4b0d68 !important;
			box-shadow: inset 0 0 0 2px #540963;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(67, 11, 78, 0.623);
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			color: #881382;
		}

.button {
    background-color: rgba(102, 12, 102, 0.411); /* Nova cor de fundo (laranja) */
    color: #ffffff; /* Cor do texto (branco) */
    border: none; /* Remove bordas, se necessário */
    padding: 10px 20px; /* Ajusta o espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Mostra o cursor de clique */
    transition: background-color 0.5s ease; /* Animação suave ao passar o mouse */
}

.button:hover {
    background-color: rgba(135, 36, 193, 0.377); /* Cor ao passar o mouse */
}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

	label {
		display: block;
		font-size: 0.9em;
		font-weight: 400;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 4px;
		border: none;
		border: solid 1px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			content: '\f078';
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 200;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: absolute;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				border-radius: 4px;
				border: solid 1px;
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			content: '\f00c';
		}

	input[type="checkbox"] + label:before {
		border-radius: 4px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		opacity: 1.0;
	}

	:-moz-placeholder {
		opacity: 1.0;
	}

	::-moz-placeholder {
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		opacity: 1.0;
	}

	.formerize-placeholder {
		opacity: 1.0;
	}

	label {
		color: #7a1992;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		background: rgba(118, 10, 128, 0.61);
		border-color: #666666;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #8b31c0;
			box-shadow: 0 0 0 1px #EF6480;
		}

	.select-wrapper:before {
		color: #89198d;
	}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
		color: #561ca3;
	}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			background: rgba(138, 38, 138, 0.877);
			border-color: #54076b;
		}

	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
		background-color: #680f70;
		border-color: #EF6480;
		color: #ffffff;
	}

	input[type="checkbox"]:focus + label:before,
	input[type="radio"]:focus + label:before {
		border-color: #EF6480;
		box-shadow: 0 0 0 1px #EF6480;
	}

	::-webkit-input-placeholder {
		color: #999999 !important;
	}

	:-moz-placeholder {
		color: #999999 !important;
	}

	::-moz-placeholder {
		color: #999999 !important;
	}

	:-ms-input-placeholder {
		color: #999999 !important;
	}

	.formerize-placeholder {
		color: #999999 !important;
	}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon.major {
			display: block;
			margin: 0 0 1.5em 0;
		}

			.icon.major:before {
				cursor: default;
				font-size: 2.5rem;
				box-shadow: inset 0 0 0 2px #380744;
				width: 2.5em;
				height: 2.5em;
				line-height: 2.5em;
				display: inline-block;
				border-radius: 100%;
				color: #3c074d;
			}

		@media screen and (max-width: 736px) {

			.icon.major:before {
				font-size: 2rem;
			}

		}

/* Image */

	.image {
		border-radius: 10px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 4px;
			display: block;
		}

		.image.left, .image.right {
			right: 100%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 10em 1em 0;
			top: 0.5em;
		}

		.image.right {
			float: right;
			margin: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
			border: #480b50 solid 1px;
		}

			.image.main img {
				width: 80%;
			}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.5em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: -1px;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

			@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 2em 0;
				}

					ul.actions li {
						padding: 1em 0 0 0;
						display: block;
						text-align: center;
						width: 100%;
					}

						ul.actions li:first-child {
							padding-top: 0;
						}

						ul.actions li > * {
							width: 100%;
							margin: 0 !important;
						}

					ul.actions.small li {
						padding: 0.5em 0 0 0;
					}

						ul.actions.small li:first-child {
							padding-top: 0;
						}

			}

	dl {
		margin: 0 2em 2em 0;
	}

		dl dt {
			display: block;
			font-weight: 400;
			margin: 0 0 1em 0;
		}

		dl dd {
			margin-left: 1em;
		}

	ul.alt li {
		border-top-color: #d127e0;
	}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 2em 2em 2em;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px;
			border-left: 0;
			border-right: 0;
		}

		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			font-size: 0.9em;
			font-weight: 400;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px;
		}

		table tfoot {
			border-top: solid 1px;
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px;
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 1;
			}

	table tbody tr {
		border-color: #660d69;
	}

		table tbody tr:nth-child(2n + 1) {
			background-color: rgb(224, 99, 228);
		}

	table th {
		color: #3a0952;
	}

	table thead {
		border-bottom-color: #7e0d6b;
	}

	table tfoot {
		border-top-color: #511357;
	}

	table.alt tbody tr td {
		border-color: #660d69;
	}

/* Item */

	.item {
		padding: 3em 3em 1em 3em;
		background-color: #ffffff;
		border: solid 1px #330c31; 
		border-radius: 4px;
		text-align: center;
	}

		.item header {
			border-top-left-radius: 1px;
			border-top-right-radius: 2px;
			margin: 0em 0 0em 1em;
			width: calc(100% + 8em);
			height: 1em;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			background-color: #e0b7dd;
			color: rgba(255, 255, 255, 0.75);
			position: relative;
			overflow: hidden;
		}
		/*ICONES REDES SOCIAIS*/
			.item header input, .item header select, .item header textarea {
				color: #e635dd;
			}

			.item header a {
				color: #3ca1a5;
			}

				.item header a:hover {
					color: #309483c0 !important;
				}

			.item header strong, .item header b {
				color: #3ca1a5;
			}

			.item header h1, .item header h2, .item header h3, .item header h4, .item header h5, .item header h6 {
				color: #63228f;
			}

			.item header blockquote {
				border-left-color: #ffffff;
			}

			.item header code {
				background: rgba(73, 10, 75, 0.404);
				border-color: #704469;
			}

			.item header hr {
				border-bottom-color: #4f1480;
			}

			.item header a {
				-moz-transition: -moz-transform 0.2s ease;
				-webkit-transition: -webkit-transform 0.2s ease;
				-ms-transition: -ms-transform 0.2s ease;
				transition: transform 0.7s ease;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				position: absolute;
				top: 100%;
				left: 100%;
				width: 100%;
				height: 100%;
				display: block;
			}

				.item header a:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(126, 231, 131, 0);
					
				}

			.item header:hover a {
				-moz-transform: scale(1.1);
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
			}

			.item header > * {
				position: absolute;
				z-index: 10px;
			}

			.item header h3 {
				margin: 0;
				-moz-pointer-events: none;
				-webkit-pointer-events: none;
				-ms-pointer-events: none;
				pointer-events: none;
			}

	.items {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: calc(100% + 80em);
		margin: 1px 0 0 1px;
	}

		.items .item {
			margin: 1px 0 0 1px;
			width: calc(100% + 80em);
		}

	@media screen and (max-width: 1080px) {

		.item header {
			height: 50px;
		}

		.items {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-moz-flex-wrap: nowrap;
			-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			width: 100%;
			margin: 0;
		}

			.items .item {
				width: 100%;
				margin: 0 0 0 0;
			}

				.items .item:last-child {
					margin-bottom: 1px;
				}

	}

	@media screen and (max-width: 736px) {

		.item header {
			height: 15em;
		}

		.items .item {
			margin: 0 0 1em 0;
		}

	}

	@media screen and (max-width: 480px) {

		.item {
			padding: 2em 1em 0.1em 1em;
		}

			.item header {
				height: 12em;
				margin: -2em 0 2em -1em;
				width: calc(100% + 2em);
			}

	}

/* Wrapper */

	#wrapper {
		width: 64em;
		left: auto;
		right: auto;
		top: 0;
		margin: 0 auto;
		max-width: calc(100% - 4em);
		padding: 2em 0 2em 0;
	}

		#wrapper > .main {
			margin-bottom: 1em;
		}

		@media screen and (max-width: 980px) {

			#wrapper {
				padding: auto;
			}

				#wrapper > .main {
					margin-bottom: 2em;
				}

		}

		@media screen and (max-width: 736px) {

			#wrapper {
				max-width: calc(100% - 2em);
				padding: 2em 0 2em 0;
				padding: 1em 0 0em 0;
				left: 10px;
				right: 10px;
				top: 9;
			}

				#wrapper > .main {
					margin-bottom: 1em;
				}

		}

/* Header */

	#header {
		background-color: #6b0c667e;
		color: rgba(145, 38, 88, 0.75);
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 1 0 1 0;
		background-image: url("../../images/banner.jpg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		text-align: center;
		position: relative;
		cursor: default;
	}

		#header input, #header select, #header textarea {
			color: #b323b8;
		}

		#header a {
			color: inherit;
		}

			#header a:hover {
				color: #9c2192 !important;
			}

		#header strong, #header b {
			color: #ffffff;
		}

		#header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
			color: #ffffff;
		}

		#header blockquote {
			border-left-color: #ffffff;
		}

		#header code {
			background: rgba(63, 7, 95, 0.904);
			border-color: #d13ec5;
		}

		#header hr {
			border-bottom-color: #390750;
		}
		/*IMAGEM BANNER*/
		#header:before {
			content: '';
			display: block;
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-width: 40px;
			background-color: rgba(0, 0, 0, 0);
			background-image: url("images/overlay.png");
		}

		#header h1 {
			margin-bottom: 10em;
		}

		#header .inner {
			position: relative;
			z-index: 1;
		}

		#header.alt {
			height: 50em;
			min-height: 50em;
			min-height: 75vh;
		}

			#header.alt:before {
				-moz-transition: background-color 3s ease;
				-webkit-transition: background-color 3s ease;
				-ms-transition: background-color 3s ease;
				transition: background-color 3s ease;
				-moz-transition-delay: 1s;
				-webkit-transition-delay: 1s;
				-ms-transition-delay: 1s;
				transition-delay: 1s;
			}
/*risco cabeçalho*/
			#header.alt h1 {
				font-size: 4em;
				padding: 0 0.5em 0.25em 0.5em;
				border-bottom: solid 2px #ce32fd;
				font-weight: 200;
				font-family: "Pacifico", cursive;
				text-transform: none;
				letter-spacing: 0;
			}

			#header.alt p {
				text-transform: uppercase;
				letter-spacing: 0.325rem;
				font-weight: 400;
				font-size: 0.3em;
				padding: 0 1.25em;
			}

			#header.alt .inner {
				-moz-transition: opacity 2s ease;
				-webkit-transition: opacity 2s ease;
				-ms-transition: opacity 2s ease;
				transition: opacity 2s ease;
				opacity: 1;
			}

		body.is-loading #header.alt:before {
			background-color: black;
		}

		body.is-loading #header.alt .inner {
			opacity: 0;
		}

		@media screen and (max-width: 1280px) {

			#header {
				background-attachment: scroll;
			}

		}

		@media screen and (max-width: 736px) {

			#header {
				padding: 8em 2em 5em 5em;
			}

				#header.alt h1 {
					font-size: 2.5em;
					padding-left: 7em 5em 25em 5em;
					padding-right: 0;
				}

				#header.alt p {
					padding: 0 1.25em;
					font-size: 0.5em;
				}

				#header.alt .inner {
					max-width: 100%;
				}

		}

/* Main */

	#main {
		padding: 4em 2em 2em 2em;
		background-color: #da5543;
		border-radius: -8px;
		border: solid 1px #3d083b;
	}

		#main > header:first-child {
			text-align: center;
		}

		@media screen and (max-width: 736px) {

			#main {
				padding: 2em 2em 0.1em 2em;
			}

		}

		@media screen and (max-width: 480px) {

			#main {
				padding: 2em 1em 1em 1em;
			}

		}

/* Intro DIAMANTE*/

	#intro {
		margin-top: 1em;
		padding: 2em 2em 2em 2em;
		background-color: #f196ed;
		border-radius: 10px;		
		text-align: center;
		font-size: 10px;
		position: relative;
		bottom: 250px; /* Adjusted to move the container further up */
		left: 50%;
		top: 10%;
		transform: translateX(-50%);
	}

	#intro video {
		margin: 20px 80px; /* Adiciona espaçamento acima e abaixo de cada vídeo */
		width: auto; /* Garante que os vídeos ocupem a largura total do recipiente */
		height: auto;	
		max-width: 410px; /* Sets a maximum width for videos */
		max-height: 400px; /* Sets a maximum height for videos */
		border-radius: 7px; /* Adiciona cantos arredondados aos vídeos */
		box-shadow: 0 8px 14px rgba(97, 14, 100, 0.753); /* Adds a subtle shadow for better visibility */
	}
	

		@media screen and (max-width: 480px) {

			#intro {
				padding: 0;
				bottom: 10px; /* Ajustado para ecrãs mais pequenos*/
				border: #420949 solid 1px;
				border-radius: 4px;
			}

		}

		@media screen and (max-width: 480px) {

			#intro {
				padding: 0;
				bottom: 0px; /* Adjusted for even smaller screens */
			}

				#intro p br {
					display: none;
				}

		}

/* CTA ULTIMAS INFORMAÇÕES */

	#cta {
		padding: auto;
		text-align: center;
		font-size: 14px;
		margin-top: 7em;
		margin-bottom: 1em;
	}

		@media screen and (max-width: 736px) {

			#cta {
				padding: 2em 2em 0.1em 2em;
			}

		}

		@media screen and (max-width: 480px) {

			#cta {
				padding: 1em 1em 0.1em 1em;
				font-size: 1.5em;
			}

				#cta p br {
					display: none;
					font-size: 15px;
				}
				#cta p {
					font-size: 17px;
				}
				#cta a {
					font-size: 5em;
					color: #3b0947;
					text-decoration: none;
					
				}
				#cta a:hover {
					text-decoration: underline;
				}

		}

/* Footer */

	#footer {
		text-align: center;
		margin-top: 10em;
		font-size: 15px;
	}

		#footer a {
			color: #7a146d;
			font-size: 1.5em;
		}

		#footer:before {
			content: '';
			display: inline-block;
			width: 70em;
			height: 2px;
			background-color: #530d48;
			margin-bottom: 4em;
		}

		#footer .copyright {
			font-size: 17px;
		}

		@media screen and (max-width: 736px) {

			#footer {
				margin-top: 1em;
			}

				#footer:before {
					margin-bottom: 5px;
				}

		}
		/*Menu sidebar*/

		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		
		body {
			font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			background-color: #f8ece5;
		}
		
		header {
			background-color: #570c4d;
			color: #fff;
			text-align: center;
			padding: 20px;
		}
		
		.menu-container {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			gap: 20px;
			padding: 1px;
			margin-top: 0;
		}
		/*quadros*/
		.menu-card {
			margin-top: 1;
			width: 100%;
			max-width: 300px;
			left: auto;
			background-color: #ebb0e3;
			border-radius: 10px;
			box-shadow: 0 2px 8px rgba(121, 11, 93, 0.671);
			overflow: hidden;
			transition: transform 0.3s;
		}
		
		.menu-card:hover {
			transform: translateY(-5px);
		}
		
		.menu-card img, 
		.menu-card video {
			width: 100%;
			height: 300px;
			object-fit: cover;
			border-radius: 10px 10px 0 0;
			border: #6d165991 solid 2px;
			box-shadow: 0 2px 8px rgba(121, 11, 93, 0.671);

			opacity: 0.9;
		}
		
		
		.menu-content {
			padding: 20px;
		}
		
		.menu-content h2 {
			font-size: 19px;
			font-weight: 500;
			margin-bottom: 10px;
			color: #5f0f69;
			text-align: center;
			}
		
		.menu-content p {
			font-size: 14px;
			color: #541181;
			margin-bottom: 20px;
		}
		/*botão itens*/
		.menu-content a {
			display: inline-block;
			margin-top: 10px;
			padding: 1px 1px;
			font-size: 14px;
			background-color: #771b9b;
			color: #ffffff;
			text-decoration: none;
			border-radius: 4px;
			text-align: center;
			transition: background-color 0.3s;
		}
		
		.menu-content a:hover {
			background-color: #5f0d4d;
		}
		
		.menu-content a:active {
			background-color: #443da0;
			
		}
